@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --theme-transition-duration: 0.3s;

    /* H 0 S 100 L 50 */
    --bks-primary-hsl: 0 0% 0%;
    --bks-primary-hsla: 0, 0%, 0%, 0.05;
    --bks-secondary-hsl: 0 0% 30%;
    --bks-secondary-hsla: 0, 0%, 30%, 0.05;

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --bks-primary-hsl: 0 0% 0%;
    --bks-primary-hsla: 0, 0%, 0%, 0.05;
    --bks-secondary-hsl: 0 0% 30%;
    --bks-secondary-hsla: 0, 0%, 30%, 0.05;

    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.bg-bks-primary { background: hsl(var(--bks-primary-hsl)); }
.bg-bks-primary-t { background: hsla(var(--bks-primary-hsla)) }
.bg-bks-secondary { background: hsl(var(--bks-secondary-hsl)) }
.bg-bks-secondary-t { background: hsla(var(--bks-secondary-hsla)) }

.text-bks-primary { color: hsl(var(--bks-primary-hsl)); transition: color var(--theme-transition-duration) ease-in-out; }
.text-bks-secondary { color: hsl(var(--bks-secondary-hsl)); transition: color var(--theme-transition-duration) ease-in-out; }

.border-bks-primary { border-color: hsl(var(--bks-primary-hsl)); transition: border-color var(--theme-transition-duration) ease-in-out; }
.border-bks-secondary { border-color: hsl(var(--bks-secondary-hsl)); transition: border-color var(--theme-transition-duration) ease-in-out; }

.shadow-bks-primary{ box-shadow: 0 4px 6px hsl(var(--bks-primary-hsl)); transition: box-shadow var(--theme-transition-duration) ease-in-out; }
.shadow-bks-secondary{ box-shadow: 0 4px 6px hsl(var(--bks-secondary-hsl)); transition: box-shadow var(--theme-transition-duration) ease-in-out; }

.outline-bks-primary { outline-color: hsl(var(--bks-primary-hsl)); transition: outline-color var(--theme-transition-duration) ease-in-out; }
.outline-bks-secondary { outline-color: hsl(var(--bks-secondary-hsl)); transition: outline-color var(--theme-transition-duration) ease-in-out; }

.bg-bks-gradient { 
  /* background: red; */
  background-image: linear-gradient(
    -25deg,
    hsla(var(--bks-primary-hsl), 1), 
    hsla(var(--bks-secondary-hsl), 1)
  );
  transition: background-color var(--theme-transition-duration) ease-in-out;
  /* to right,  */
  /* hsl(var(--bks-primary-hsl)),  */
  /* hsl(var(--bks-secondary-hsl)),  */
  /* red, green, */
  /* hsl(var(--bks-secondary-hsl)), */
  /* hsl(var(--bks-secondary-hsl)) */
  /* )  */
}
.bg-bks-gradient-strong {
  /* background: red; */
  background-image: linear-gradient(-25deg,
  hsl(var(--bks-secondary-hsl)),
  hsl(var(--bks-primary-hsl))
  );
  /* to right,  */
  /* hsl(var(--bks-primary-hsl)),  */
  /* hsl(var(--bks-secondary-hsl)),  */
  /* red, green, */
  /* hsl(var(--bks-secondary-hsl)), */
  /* hsl(var(--bks-secondary-hsl)) */
  /* )  */
}

.bg-bks-gradient::before{
  position:absolute;
  content: "";
  z-index: 0;
  bottom: min(200vw, 200vh);
  left: 20vw;
  width: 0px;
  height: 0px;
  border-radius: 100%;
  background: hsl(var(--bks-primary-hsl));
  box-shadow: 0 0 min(120vw, 120vh) min(120vw, 120vh) hsl(var(--bks-primary-hsl));
  opacity: .5;
  transition: box-shadow var(--theme-transition-duration) ease-in-out, transform var(--theme-transition-duration), ease-in-out;
  @apply dark:translate-y-[80vh]  lg:left-[12rem] dark:opacity-20
}

.bg-bks-gradient::after {
  position: absolute;
  content: "";
  z-index: -10;
  top: min(200vw, 200vh);
  right: 20vw;
  width: 0px;
  height: 0px;
  border-radius: 100%;
  background: hsl(var(--bks-secondary-hsl));
  box-shadow: 0 0 min(120vw, 120vh) min(120vw, 120vh) hsl(var(--bks-secondary-hsl));
  opacity: .5;
  transition: box-shadow var(--theme-transition-duration) ease-in-out, transform var(--theme-transition-duration) ease-in-out;
  @apply dark:translate-y-[-60vh] lg:right-[12rem] dark:opacity-20
}

.bg-grid {
  background-image: linear-gradient(to bottom, #00000006 1px, transparent 1px),
    linear-gradient(to right, #00000006 1px, transparent 1px);
  background-size: 6px 6px;
}


.muted {
  filter: grayscale(.9)
}



.preview-box {
  /* @apply min-w-[600px] max-w-[600px] min-h-[600px] max-h-[600px] scale-[.5]; */
  @apply w-full h-full
  /* scale-[.5] md:scale-[.7] lg:scale-[1] */
}

.preview-card{
  /* @apply aspect-ratio */
}

/* * {
  margin: 3px !important;
} */

.test {
  border: 2px solid red !important;
}
